<h2>Hall of Completion!</h2>
    <h3>“Starting something can be easy, it is finishing it that is the highest hurdle.” ― Isabella Poretsis </h3><br>

<ol>
<% @complete.each do |entry| %>
<li><%= entry.title %></li>
<% end %>
</ol>

<p><i>Remember to hydrate during gaming sessions and take breaks in between! </i></p>