<h1 class="header">Changing Something? Edit your collection!!</h1>
<br>
<div class="errors">
<% if @game.errors.any? %>
    <h3>The game wasnt saved because:</h3>
    <ul>
    <li> <%= @game.errors.full_messages.to_sentence %> </li>
    </ul>
<% end %>
</div>
<div>
<%= form_with model: @game, method: :patch, local: true do |f| %> 
    
    <%= render partial: 'form', locals: {game: @game, f:f} %>

<%= f.submit %>
<% end %>
</div>