body {
  background-color: rgb(98, 121, 165);
}
.card {
  margin: auto;
  text-align: center;
  outline: 5px solid black;
  border-radius: 12px;
  width: 20%;
  background-color: cornsilk;
}
.actions input[type="submit"] {
  background-color: coral;
  font-size: 12px;
  border-radius: 12px;
  font-family: dosis;
}
