body {
  background-color: #4f6367;
  background-image: url("sigmund-By-tZImt0Ms-unsplash.jpg");
  background-blend-mode: color-dodge;
  color: rgb(238, 245, 219);
}
.card {
  margin: auto;
  text-align: center;
  outline: 5px solid black;
  border-radius: 12px;
  width: 20%;
  background-color: cornsilk;
}
.actions input[type="submit"] {
  background-color: coral;
  font-size: 12px;
  border-radius: 12px;
  font-family: dosis;
}
